;Usuario "develop" com acesso somente leitura para fazer download de dependencias
registry=http://34.125.69.241/repository/npm-group/
;echo -n 'username:password' | openssl base64
_auth=bnBtLXVzZXI6MTIzNDU2
email=npm@example.com
always-auth=true

